<h1>---- Create an inquiry ----</h1>
<br>
<p id="notice"><%= notice %></p>
<%= form_with url: "/inquiries/create" , scope: :inquiry do |form| %>
  <%= form.hidden_field :house_id , :value => @house_id %>
  <%= form.hidden_field :house_hunter_id , :value => @house_hunter_id %>
<br>
  <%= form.label :subject %>
  <%= form.text_field :subject %>
  <br>
  <%= form.label :message_content %>
  <%= form.text_field :message_content %>
  <br>
  <br>
  <%= submit_tag("Submit") %>
<% end %>