<h1>All houses</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Location</th>
    <th>Square footage</th>
    <th>Year built</th>
    <th>Style</th>
    <th>Price</th>
    <th>Number of floors </th>
    <th>Basement</th>
    <th>Current house owner</th>
    <th>Contact information of realtor</th>
    <th></th>
  </tr>

  <% if !@houses.nil? then @houses.each do |house| %>
      <tr>
        <td><%= house.location %></td>
        <td><%= house.square_footage %></td>
        <td><%= house.year_built %></td>
        <td><%= house.style %></td>
        <td><%= house.price %></td>
        <td><%= house.number_of_floors %></td>
        <td><%= house.basement %></td>
        <td><%= house.current_house_owner %></td>
        <td><%= house.contact_info_of_realtor %></td>
        <td><%= link_to 'Add to Interest List', "/add_to_interest_list/"+(house.id.to_s) %></td>
        <td><%= link_to 'Inquiry', "/inquiries/new/"+(house.id.to_s) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br />

<%= link_to 'Go back to homepage ', homepage_path %>
