<h1> Partial called 2</h1>

<table>
  <tr>
    <th> Name </th>
    <th>Email </th>
    <th>Phone</th>
    <th>Preferred contact method</th>
    <th>User type </th>

  </tr>

  <% if !@househunter.nil? then @househunter.each do |househunter| %>
      <tr>
        <td><%= househunter.name %></td>
        <td><%= househunter.email %></td>
        <td><%= househunter.phone %></td>
        <td><%= househunter.contact_method %></td>
        <td> House Hunter </td>



      </tr>
    <% end %>
  <% end %>
</table>

<br />

<%= link_to 'Go back to homepage ', homepage_path %>